<% if @tracks.any? %>
  <ol class="tracks">
    <% @tracks.each do |track| %>
      <li>
        <h2><%= track.name %></h2>
        <p><%= track.artists.map { |a| a.name }.join(', ') %></p>
        <form action="/add" method="post">
          <input type="hidden" name="uri" value="<%= track.uri %>">
          <input type="hidden" name="track" value="<%= track.name %>">
          <input type="hidden" name="artist" value="<%= track.artists.map { |a| a.name }.join(', ') %>">
          <button type="submit">+</button>
        </form>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No tracks found.</p>
<% end %>
